h1 { color:#A52A2A; font-family:Arial; font-size:30px; }
p { color:#800080; font-family:Verdana }
h3 { color:#0000CD; }
h2{ font-family:Baltica; color:#9ACD32;}
body{ background-image:url(https://images7.alphacoders.com/498/498256.jpg);}